@font-face {
   font-family: 'poiret';
   src: url('./fonts/PoiretOne-Regular.ttf') format('truetype')
};
@font-face {
   font-family: 'candara';
   src: url('./fonts/candara.ttf') format('truetype')

};

body{
	margin: 0;
};

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	width: 20px;
}
::-webkit-scrollbar-track{
	background: #ffffff;
	
}
::-webkit-scrollbar-button:single-button:vertical:increment {
	background: url(./img/scrollbar_arrow.svg) center no-repeat;
 }
::-webkit-scrollbar-button:single-button:vertical:decrement {
	background: url(./img/scroll_arrow_top.svg) center no-repeat;
}
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
	background: url(./img/scrollbar_arrow_down_hover.svg) center no-repeat;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
	background: url(./img/scrollbar_arrow_top_hover.svg) center no-repeat;
}
 ::-webkit-scrollbar-thumb {
	background-color: #4B6049;
	border: 3px solid #ffffff;
 }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	color: #484847;
	font-family: candara;
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
}
a {
	text-decoration: none;
	color: inherit;
}
h2 {
font-family: poiret;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 70px;
color: #484847;
}
h3 {
	font-family: 'Candara';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 49px;
	color: #000000;
}
::placeholder {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: rgba(72, 72, 71, 0.5);
}


/* ======================================================================================*/
.flip-it {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: "FlipH";
	filter: FlipH;
}
.wrapper {
	max-width: 1074px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: content-box;
   position: relative;
	width: 100%;
}

.header_content{
	height: fit-content;
	max-height: 144px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
}
.header_content > a , .header_logo {
	height: 144px;
}

.header_navigation{
	height: fit-content;
	display: flex;
	gap: 25px;
	font-weight: 200;
	font-size: 26px;
	line-height: 32px;
	border-bottom: 0.5px solid #4B6049;
	padding: 0 14px;
	
}
.header_links {
	padding: 0;
	margin: 0;
	display: flex;
	gap: 20px;
	height: 40px;
	align-items: center;
}
.header_links a {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_menu_link {
	transition: cubic-bezier(0.19, 1, 0.22, 1);
}

.header_menu_link:nth-of-type(1) {
	background-image: url('./img/icon_cabinet_green.svg') ;
	background-repeat: no-repeat;
	background-position: center;
}
.header_menu_link:nth-of-type(1):hover {
	background-image: url('./img/icon_cabinet_green_hover.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.header_menu_link:nth-of-type(2){
	background-image: url('./img/icon_like_green.svg') ;
	background-repeat: no-repeat;
	background-position: center;
}
.header_menu_link:nth-of-type(2):hover{
	background-image: url('./img/icon_like_green_hover.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.header_menu_link:nth-of-type(3){
	background-image: url('./img/icon_basket_green.svg') ;
	background-repeat: no-repeat;
	background-position: center;
}
.header_menu_link:nth-of-type(3):hover{
	background-image: url('./img/icon_basket_green_hover.svg') ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.header_menu_link:nth-of-type(3):focus{
	background-image: url('./img/icon_basket_green_active.svg') ;
	background-repeat: no-repeat;
	background-position: center;
}
.main_top_view{
	display: flex;
	position: relative;
	min-height: 804px;
	align-items: center;
	min-width: 100%;
}
header {
	display: flex;
}
.main_top_view_img{
	background: url('./img/main_top_section_background.png') right no-repeat;
	min-height: 804px;
	transform: scaleX(-1);
	background-size: cover;
	width: 58.5%;
	right: 0;
	position: absolute;
	display: block;
	z-index: -1;
}
.top_section_content h2{
	max-width: 552px;
}
.top_section_content p{
	max-width: 490px;
	
}
.top_section_content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 652px;
}
.regular_button{
	width: 219px;
	height: 59px;
	background: #4B6049;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 150%;
	color: #FFFBF5;
	position: relative;
	transition-property: margin;
	transition-duration: 0.6s;
	margin: 12px 12px 0 0;
}
.regular_button:hover {
	margin: 0 0 12px 12px;
		transition-property: margin;
	transition-duration: 0.6s;
}
.regular_button::after {
	width: 216px;
	height: 56px;
	border: 1.5px solid #484847;
	margin: 0 0 12px 12px;
	position: absolute;
	content:'';
	z-index: -1;
	transition-property: margin;
	transition-duration: 0.7s;
}
.regular_button:hover::after {
	transition-property: margin;
	transition-duration: 0.7s;
	margin: 0 0 0 0 ;
}
.main_middle{
	background: url('./img/main_middle_section_background.png') no-repeat center;
	background-size: cover;
	min-height: 1060px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.main_middle h2{
	font-family: poiret;
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 70px;
	color: #4B6049;
	padding: 78px 0 0 0;
}
.main_middle .wrapper {
	max-width: 1488px;
}
.main_middle > div{
	display: flex;
}
.main_middle p {
	font-size: 40px;
	line-height: 49px;
	padding: 58px 0 0 207px;
	font-weight: 200;
	max-width: 416px;
}
.main_middle_dots{
	display: flex;
	gap: 20px;
	justify-content: center;
	padding: 0 0 18px 0;
}
.main_middle_dot {
	width: 18px;
	height: 18px;
	border: 1px solid #4B6049;
	border-radius: 50%;
	position: relative;
}
.middle_dot_active::before {
	content: "";
	display: block;
	position: absolute;
	width: 14px; height: 14px;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	background: #4B6049;
	border-radius: 100%;
}
.main_top_view_button{
	display: flex;
	padding: 50px 0 0 0;
	justify-content: center;
}

.main_bottom_view{
	display: flex;
}
.bottom_view_content{
	display: flex;
	flex-direction: column;
	padding: 100px 0;
	max-height: 1575px;
	gap: 123px;
	overflow: hidden;
	transition: max-height 1s ease-out;
}
.bottom_view_content > div:nth-last-of-type(2n){
	padding-bottom: 88px;
}
.bottom_view_content_item {
	display: flex;
	height: fit-content;
	justify-content: space-between;
	width: 100%;
	gap: 30px;
}

.bottom_view_content_item:nth-child(2n) img{
	order: 2;
}
.bottom_view_content_item:nth-child(2n) div{
	order: 1;
}
.bottom_view_content_item_text {
	max-width: 522px;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.regular_white_button{
	width: 200px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Candara';
	font-size: 20px;
	line-height: 24px;
	color: #484847;
	border: 1.5px solid #484847;
	position: relative;
	cursor: pointer;
}
footer .wrapper {
	height: fit-content;
}
footer > div {
	display: flex;
}
footer{
	display: flex;
	flex-direction: column;
}

/* .white_button_arrow {
	position: absolute;
	width: 70px;
	background-color: #4B6049;
	height: 1.5px;
	top: 25px;
	left: 165px;
}
.white_button_arrow::before {
	content: '';
	width: 8px;
	height: 1.5px;
	background-color: #4B6049;
	position: absolute;
	transform: rotate(45deg);
	top: -3px;
	right: -2px;
}
.white_button_arrow::after {
	content: '';
	width: 8px;
	height: 1.5px;
	background-color: #4B6049;
	position: absolute;
	transform: rotate(-45deg);
	top: 3px;
	right: -2px;
} */
.white_button_arrow {
	position: absolute;
	left: 165px;
	top: 19px;
	width: 70px;
	background: url('./img/arrow_white_button.svg') no-repeat;
	height: 12px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.6s;
}
.regular_white_button:hover .white_button_arrow {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.6s;
}
.white_button_arrow_down{
	position: absolute;
	left: 94px;
	top: 35px;
	width: 12px;
	background: url('./img/arow_white_button_down.svg') no-repeat;
	height: 30px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.6s;
}

.regular_white_button:hover .white_button_arrow_down {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.6s;
}
.show_more{
	display: flex;
	justify-content: center;
	padding: 0 0 100px 0;
}
.footer_social_white{
	float: right;
	display: flex;
	gap: 15px;
	padding-bottom: 8px;
	height: fit-content;
}
.footer_social_white a {
	width: 50px;
	height: 50px;
}
.footer_social_white a:nth-of-type(1){
	background: url('./img/instagram.svg') no-repeat;
}
.footer_social_white a:nth-of-type(1):hover{
	background: url('./img/instagram_hover.svg') no-repeat;
}
.footer_social_white a:nth-of-type(2){
	background: url('./img/email.svg') no-repeat;
}
.footer_social_white a:nth-of-type(2):hover{
	background: url('./img/email_hover.svg') no-repeat;
}
.footer_social_white a:nth-of-type(3){
	background: url('./img/phone.svg') no-repeat;
}
.footer_social_white a:nth-of-type(3):hover{
	background: url('./img/phone_hover.svg') no-repeat;
}
.footer_social_white a:nth-of-type(4){
	background: url('./img/address.svg') no-repeat;
}
.footer_social_white a:nth-of-type(4):hover {
	background: url('./img/location_hover.svg') no-repeat;
}
.footer_content {
	background-color: #4B6049;
	height: 192px;
	width: 100%;
}
.footer_content .wrapper {
	min-height: 192px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer_item_group{
	font-family: 'Candara';
	font-weight: 200;
	font-size: 20px;
	line-height: 150%;
	color: #FFFBF5;
	display: flex;
	gap: 40px;
	padding: 26px 0 0 0;
}
.footer_item:nth-of-type(2) {
	padding: 0 12px 0 0;
}
.footer_item:last-child{
	display: flex;
	flex-direction: column;
}
.footer_item > div:first-of-type{
	display: flex;
	flex-direction: column;
}
.footer_item > div:nth-of-type(2){
	padding: 14px 0 0 56px;
}
.footer_pay{
	display: flex;
	gap: 25px;
	align-items: center;
}
 .footer_pay a:first-of-type {
	width: 52px;
	height: 32px;
	background: url('./img/pay_1_gray.png') no-repeat;
}
.footer_pay a:hover:first-of-type {
	background: url('./img/pay_1.png') no-repeat;
} 
.footer_pay a:nth-of-type(2) {
	width: 76px;
	height: 25px;
	background: url('./img/pay_2_gray.png') no-repeat;
}
.footer_pay a:nth-of-type(2):hover {
	background: url('./img/pay_2.png') no-repeat;
}
.footer_pay a:nth-of-type(3) {
	width: 83px;
	height: 34px;
	background: url('./img/pay_3_gray.png') no-repeat;
}
.footer_pay a:nth-of-type(3):hover {
	background: url('./img/Pay_3.png') no-repeat;
}
.scrollToTop{
	width: 50px;
	height: 50px;
	position: fixed;
	right: 8vw;
	bottom: 2vh;
	background: rgba(75, 96, 73, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition-property: visibility opacity;
	transition-duration: 0.8s;
	cursor: pointer;
}
.buy_items_section{
	display: flex;
	padding: 67px 0 0 0;
	justify-content: space-between;
}


.buy_items_content{
	display: flex;
	flex-direction: column;
	gap: 95px;
}
.buy_items_content > div {
	display: flex;
	gap: 8px;
}
.you_interested_in{
display: flex;
flex-direction: column;
gap: 43px;
padding: 0 0 85px 0;
}
.item_card{
	width: 260px;
	height: 400px;
	padding: 13px 13px 9px 13px;
	gap: 13px;
	display: flex;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	outline: 0.5px solid transparent;
	transition: outline 2.5s;
}

.item_card:hover{
	outline: 0.5px solid #484847;
	transition: outline 1s;
}

.item_properties{
	font-size: 20px;
	line-height: 150%;
	display: flex;
	flex-direction: column;
}
.item_properties > p {
	align-self: flex-end;
}
.item_properties > a {
	min-height: 60px;
}
.item_buy_buttns{
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	gap: 52px;
}
.reg_btn_item{
	background: #4B6049;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 150%;
	color: #FFFBF5;
	position: relative;
	width: 97px;
	height: 25px;
	margin: 6px 6px 0 0;
	transition-property: margin;
	transition-duration: 0.7s;
}

.reg_btn_item:hover {
	margin: 0 0 6px 6px;
	transition-property: margin;
	transition-duration: 0.7s;
}
.reg_btn_item::after {
	width: 94px;
	height: 24px;
	border: 0.4px solid #484847;
	position: absolute;
	margin: 0 0 6px 6px;
	content:'';
	z-index: -1;
	transition-property: margin;
	transition-duration: 0.7s;
}
.reg_btn_item:hover:after {
	margin: 0;
	transition-property: margin;
	transition-duration: 0.7s;
}
.you_interested_in_carousel{
	display: flex;
	justify-content: space-evenly;
	gap: 11px;
}
aside h3 {
	color: #484847;
}
.filter_group{
	min-width: 226px;
	width: fit-content;
	padding: 47px 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.filter_group input {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	appearance: none;
	/* For iOS < 15 to remove gradient background */
	background-color: #fff;
	/* Not removed via appearance */
	margin: 0;
}
input[type="checkbox"] {
	appearance: none;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font: inherit;
	color: inherit;
	width: 20px;
	height: 20px;
	border: 1px solid #484847;
	transform: translateY(0.18em);
	position: relative;
	cursor: pointer;
 }
 input[type="checkbox"]::before {
	opacity: 0;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	border-radius: 1px;
	content: '';
	background-color: #4B6049;
	transition: opacity 0.5s;
 }
 input[type="checkbox"]:checked:before {
	transition: opacity 0.5s;
	opacity: 1;
 }
.item_list{
	display: flex;
	flex-wrap: wrap;
	gap: 28px;
	max-height: 2140px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 2px;
	justify-content: flex-start;
	min-width: fit-content;
	transition: max-height 1s ease-out;
}
.item_list_group{
	display: flex;
	flex-direction: column;
	gap: 23px;
	max-width: 840px;
}
.filter_group_item{
	display: flex;
	flex-direction: column;
}
.filter_group_item:last-child li {
	display: flex;
	gap: 8px;
	align-items: center;
}
.filter_group_item:last-child li input {
	max-width: 90px;
	height: 45px;
}
.filter_group_item:last-child li span {
	width: 15px;
	height: 1px;
	background-color: #484847;
}
.filter_group_item label{
	font-size: 20px;
	line-height: 24px;
	font-weight: 200;
	white-space: nowrap;
	letter-spacing: -0.5px;
	width: fit-content;
}
.filter_group_item li {
	width: fit-content;
	flex-wrap: nowrap;
}
.filter_group_item > ul {
	display: flex;
	flex-direction: column;
}
.filter_group_item ul li:first-child {
	padding: 17px 0 0 0;
}
.filter_group_item .filter_title{
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
	color: #484847;
	position: relative;
	width: inherit;
}
.filter_group_item:not(:last-child) .filter_title::before {
	content: '';
	top: 60%;
	right: 5px;
	position: absolute;
	width: 11px;
	height: 1.5px;
	background-color: #484847;
}
.filter_group_item:not(:last-child) .filter_title::after{
	content: '';
	top: 60%;
	right: 5px;
	position: absolute;
	width: 11px;
	height: 1.5px;
	background-color: #484847;
	transition: 0.6s ease-out;
	transform: rotate(90deg);
}

.sort_group div{
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 3;
	height: 140px;
	width: 260px;
	background-color: #ffffff;
	font-weight: 200;
	font-size: 20px;
	line-height: 150%;
	text-decoration: underline 0.5px solid;
}
.sort_group div a {
	width: fit-content;
}

.item_list_group > a:last-of-type {
	align-self: center;
	margin-top: 20px;
}
.card_clean .item_buy_buttns,.card_clean .item_heart{
 	display: none;
}
.card_clean:hover .item_buy_buttns{
	display: flex;
}
.card_clean:hover .item_heart{
	display: block;
}
.item_heart{
	position: absolute;
	background: url('./img/item_icons_heart.svg') center no-repeat;
	width: 36px;
	height: 36px;
	right: 13px;
	top: 13px;
}
.item_heart:hover {
	background: url('./img/item_heart_hover.svg') center no-repeat;
	cursor: pointer;
}
.sort_by {
	text-decoration: underline;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-decoration: underline 0.5px solid;
	width: fit-content;
	position: relative;
	cursor: pointer;
}
.sort_by::after {
	content: '';
	background: url('./img/arrow_down.svg') no-repeat center;
	width: 11px;
	height: 6px;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-20%);
	right:-12px;
	transition: all 1s;
}
.dropdown_sort {
	opacity: 0;
	transition: all 0.6s ease-in;
	visibility: collapse;
}
.visible .dropdown_sort {
	visibility: visible;
	opacity: 1;
	transition: all 0.8s ease-out;
}
.visible .sort_by::after {
	transform: rotate(-180deg);
	transition: all 1s;
}
.sort_group{
	position: relative;
}
.more_items{
	max-height: 4280px;
	transition: max-height 1s ease-in-out;
}
.more_items_main{
	max-height: 4000px;
	transition: max-height 1s ease-in-out;
}
.filter_group_item:not(:last-child) .filter_title{
	cursor: pointer;
}
.filter_group_item:not(:last-child) > ul {
	max-height: 0;
   transition: max-height 0.6s ease;
   overflow: hidden;
}
.filter_show:not(:last-child) > ul {
	max-height: 500px;
   transition: max-height 0.6s ease-in;
}
.filter_show:not(:last-child) .filter_title::after {
	transform: rotate(0deg);
}
input[type="number"] {
	border: 1px solid #484847;
   background: #ffffff !important;
   outline: none;
   color: rgba(72, 72, 71,);
   font-size: 24px; 
   font-family: candara; 
	padding: 0 0 6px 4px;
}
.main_404{
	display: flex;
	min-height: 1142px;
	justify-content: flex-end;
	align-items: flex-end;
}
.background_404{
	background-image: url(./img/404_background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.background_404 .header_content {
	color: #FFFBF5;
}
.background_404 .header_navigation {
	border-color: #FFFBF5;
}
.background_404 svg path,.background_404 a path {
	fill: #FFFBF5; 
}
.white_links .header_menu_link:nth-of-type(1) {
	background-image: url('./img/icon_cabinet_white.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.white_links .header_menu_link:nth-of-type(2) {
	background-image: url('./img/icon_basket_white.svg');
	background-repeat: no-repeat;
	background-position: center;
}
.white_links .header_menu_link:nth-of-type(3) {
	background-image: url('./img/icon_like_white.svg');
	background-repeat: no-repeat;
	background-position: center;
}
.item_sample {
	padding: 0 0 50px 0;
}
.you_interested_in h3 {
	font-weight: 400;
	font-size: 40px;
	line-height: 49px;
	color: #484847;
}
.item_props{
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	color: #484847;
	display: flex;
	flex-direction: column;
	gap: 35px;
}
.item_props > div:first-of-type {
	display: flex;
	gap: 85px;
}


.item_sample_group{
	padding: 0 0 68px 0;
	display: flex;
	flex-direction: column;
	gap: 18px;
}
.item_sample_group > div {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.item_sample_group > a,.item_vlog_sample > a {
	background-image: url(./img/arrow_back.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 32px;
	width: 32px;
	display: flex;
}
.img_about_grop {
	display: flex;
	gap: 62px;
}
.img_about_grop span {
	display: flex;
	position: inherit;
}
.img_about_grop > div {
	display: flex;
	flex-direction: column;
	gap: 44px;
	width: 552px;
}
.img_about_grop div input {
	width: 86px;
	height: 49px;
	padding: 5px 17px;
	font-weight: 400;
	font-size: 26px;
	line-height: 150%;
	color: #484847;
	align-self: flex-end;
}
.item_card_buy_group{
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-self: flex-end;
}
.item_card_buy_group > div {
	display: flex;
	justify-content: space-between;
}
.item_card_about_it{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.item_card_about_it p{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #484847;
}
.item_card_about_it h4{
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
	color: #484847;
	}
.rating-area {
	overflow: hidden;
	width: 100px;
	height: fit-content;
	}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 20px;
	height: auto;
	cursor: pointer;
	color:  #D9D9D9;
	line-height: 20px;
	font-size: 25px;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color:  #4B6049;;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color:  #4B6049;;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color:  #4B6049;;
}
.rate-area > label:active {
	position: relative;
}

.item_props > p,.item_props input, .item_props > div {
	display: none;
}
#what_in:checked + p,#what_rating:checked + div {
	display:	flex;
}

.item_props label:hover {
	border-bottom: 1px solid #484847;
	margin-bottom: -2px;
	cursor: pointer;
}
.review_list{
	display: flex;
	flex-direction: column;
	gap: 44px;
}
.review_list .regular_white_button:last-of-type {
	align-self: center;
}
.reviews{
	display: flex;
	gap: 12px;
	flex-direction: column;
	max-height: 240px;
	overflow: hidden;
	transition: max-height 1s ease-out;
}
.review{
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	width: 1010px;
	min-height: 72px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	border-bottom: 0.5px solid #484847;;
}
.review div:first-of-type {
	display: flex;
	flex-direction: column;
	width: 106px;
	height: 62px;
	padding: 0 10px 0 0;
	}
.review div p:first-of-type {
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
	color: #484847;
}
.review .rating-area {
	align-self: center;
}
.review > p{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	max-width: 444px;
}
.item_props > div label:first-of-type {
	border-bottom: 1px solid #484847;
	margin-bottom: -2px;
	cursor: pointer;
}
.more_reviews {
	transition: max-height 1s ease-in-out;
	max-height: 600px;
}
.item_props > div:first-of-type label {
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
	color: #4B6049;
}
.delivery{
	display: flex;
	flex-direction: column;
	gap: 70px;
	padding: 70px 0;
	align-items: center;
	
}
.delivery_item {
	max-width: 950px;
	min-height: 568px;
	display: flex;
	flex-direction: column;
	color: #FFFBF5;
}
.delivevery_item h4{
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
	color: #FFFBF5;
}
.delivery_item > div:first-of-type {
	background-color: #4B6049;
	height: 120px;
	width: 398px;
	display: flex;
	justify-content: center;
	padding: 0 0 0 47px;
	gap: 5px;
	flex-direction: column;
}
.delivery_item > div:first-of-type h4 {
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
	color: #FFFBF5;
}
.delivery_item > div:first-of-type p {
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
}
.delivery_item:nth-of-type(2n-1) > div:first-of-type {
	align-self: flex-end;
}
.delivery_item > div:last-of-type {
	border: 1px solid #4B6049;
	display: flex;
	flex-direction: column;
	padding: 29px;
	gap: 30px;
	max-height: 450px;
	overflow: hidden;
}
.delivery_item > div:last-of-type p {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #484847;
}
.delivery_item:last-of-type > div:last-of-type {
	overflow-y: auto;
}
.item_vlog {
display: flex;
flex-direction: column;
gap: 30px;
}
.item_vlog:nth-of-type(2n) img {
	order: 2;
}
.item_vlog > div {
	display: flex;
	gap: 22px;
}
.item_vlog div > div{
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 50px;
}
.item_vlog img {
	height: 500px;
	width: auto;
}
.item_vlog p {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #484847;
}
.item_vlog_sample > div {
	display: flex;
	flex-direction: column;
	gap: 72px;
}
.item_vlog_sample{
	padding: 18px 0 68px 0;
}
.contact_content{
	background: url('./img/contact_background.png') no-repeat;
	min-height: 608px;
	margin: 20px 0;
	display: flex;
	align-items: center;
}
.contact_content > div {
	margin: 0 0 0 20px;
	background: rgba(75, 96, 73, 0.3);
	backdrop-filter: blur(7.5px);
	height: 390px;
	width: 582px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.contact_work_time {
	color: #FFFBF5;
	display: flex;
	flex-direction: column;
	gap: 30px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;

}
.contact_work_time > div {
	display: flex;
	flex-direction: column;
	gap: 11px;
}
.contact_work_time > div:first-of-type p:first-of-type {
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
}
.contact_content span {
	width: 490px;
	border-bottom: 1px solid #FFFBF5;
}
.contact_form { 
	display: flex;
	gap: 40px;
	min-height:105px;
	justify-content: space-between;
}
.contact_form > div{
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-width: 276px;
}
.contact_form .regular_button::after {
	border: 1.5px solid #FFFBF5;
}
.contact_form .regular_button {
	align-self: flex-end;

}
.contact_form input {
	padding: 10px 15px;
	height: 50px;
	background: transparent;
	border: 1px solid #FFFBF5;
	font-family: 'Candara';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #FFFBF5;
}
.contact_form input::placeholder {
	font-family: 'Candara';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #B2B2B2;
	height: 30px;
}
.contact_success h3 {
	font-family: 'Poiret One';
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 70px;
	color: #FFFBF5;
}
.contact_success p {
	font-family: 'Poiret One';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 47px;
	color: #FFFFFF;
}
.contact_success div {
	justify-content: center;
	align-items: center;
}
@keyframes horizontal-shaking {
	0% { transform: translateX(0) }
	25% { transform: translateX(1px) }
	50% { transform: translateX(-1px) }
	75% { transform: translateX(1px) }
	100% { transform: translateX(0) }
  }
.header_navigation a:hover {
	transform: translateY(-6px);
	transition: transform 1s;
}
.header_navigation a {
	transition: transform 1s;
}
footer a:hover {
	animation: horizontal-shaking 0.8s both;
}
.footer_item:first-of-type > li:hover {
	transform: translateX(-5%);
	transition: transform 1s;
}
.footer_item:first-of-type > li {
	transition: transform 1s;
}
.header_content > a:hover,.footer_content > div > a:hover {
	animation: none;
	transform: none;
}
.header_links a:hover,.item_card span:hover{
	transition: background-image 300ms;
}
.header_links a,.item_card span {
	transition: background-image 300ms
}
.contact_work_time a:hover {
	animation: horizontal-shaking 0.6s both;
}
