@font-face {
   font-family: 'poiret';
   src: url('./fonts/PoiretOne-Regular.ttf') format('truetype')
};
@font-face {
   font-family: 'candara';
   src: url('./fonts/candara.ttf') format('truetype')
};
body{
	margin: 0;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	color: #484847;
	font-family: candara;
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
}
a {
	text-decoration: none;
	color: inherit;
}
h2 {
font-family: poiret;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 70px;
color: #484847;
}
h3 {
	font-family: 'Candara';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 49px;
	color: #000000;
}
::placeholder {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: rgba(72, 72, 71, 0.5);
}
/* ======================================================================================*/
.flip-it {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: "FlipH";
	filter: FlipH;
}
.wrapper {
	max-width: 1074px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: content-box;
   position: relative;
	width: 100%;
}

.header_content{
	height: fit-content;
	max-height: 144px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header_content > a , .header_logo {
	height: 144px;
}

.header_navigation{
	height: fit-content;
	display: flex;
	gap: 25px;
	font-weight: 200;
	font-size: 26px;
	line-height: 32px;
	border-bottom: 0.5px solid #4B6049;
	padding: 0 14px;
	
}
.header_links {
	padding: 0;
	margin: 0;
}
.header_links a {
	width: 40px;
	height: 40px;
}
.header_menu_link:nth-of-type(1){
	background: url('./img/iconcabinet.svg') no-repeat;
}
.header_menu_link:nth-of-type(1):hover{
	background: url('./img/iconcabinet_hover.svg') no-repeat;
}
.header_menu_link:nth-of-type(2){
	background: url('./img/iconfavorite.svg') no-repeat;
}
.header_menu_link:nth-of-type(2):hover{
	background: url('./img/iconfavorite_hover.svg') no-repeat;
}
.header_menu_link:nth-of-type(3){
	background: url('./img/iconbasket.svg') no-repeat;
}
.header_menu_link:nth-of-type(3):hover{
	background: url('./img/iconbasket_hover.svg') no-repeat;
}
.header_menu_link{
	padding: 0;
	margin: 0;
	display: inline-block;
	height: 37px;
}
.main_top_view{
	display: flex;
	position: relative;
	min-height: 804px;
	align-items: center;
	min-width: 100%;
}
header {
	display: flex;
}
.main_top_view_img{
	background: url('./img/main_top_section_background.png') right no-repeat;
	min-height: 804px;
	transform: scaleX(-1);
	background-size: cover;
	width: 58.5%;
	right: 0;
	position: absolute;
	display: block;
	z-index: -1;
}
.top_section_content h2{
	max-width: 552px;
}
.top_section_content p{
	max-width: 490px;
	
}
.top_section_content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 652px;
}
.regular_button{
	width: 219px;
	height: 59px;
	background: #4B6049;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 150%;
	color: #FFFBF5;
	position: relative;
	transition-property: margin;
	transition-duration: 0.6s;
	margin: 12px 12px 0 0;
}
.regular_button:hover {
	margin: 0 0 12px 12px;
		transition-property: margin;
	transition-duration: 0.6s;
}
.regular_button::after {
	width: 216px;
	height: 56px;
	border: 1.5px solid #484847;
	margin: 0 0 12px 12px;
	position: absolute;
	content:'';
	z-index: -1;
	transition-property: margin;
	transition-duration: 0.7s;
}
.regular_button:hover::after {
	transition-property: margin;
	transition-duration: 0.7s;
	margin: 0 0 0 0 ;
}
.main_middle{
	background: url('./img/main_middle_section_background.png') no-repeat center;
	background-size: cover;
	min-height: 1060px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.main_middle h2{
	font-family: poiret;
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 70px;
	color: #4B6049;
	padding: 78px 0 0 0;
}
.main_middle .wrapper {
	max-width: 1488px;
}
.main_middle > div{
	display: flex;
}
.main_middle p {
	font-size: 40px;
	line-height: 49px;
	padding: 58px 0 0 207px;
	font-weight: 200;
	max-width: 416px;
}
.main_middle_dots{
	display: flex;
	gap: 20px;
	justify-content: center;
	padding: 0 0 18px 0;
}
.main_middle_dot {
	width: 18px;
	height: 18px;
	border: 1px solid #4B6049;
	border-radius: 50%;
	position: relative;
}
.middle_dot_active::before {
	content: "";
	display: block;
	position: absolute;
	width: 14px; height: 14px;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	background: #4B6049;
	border-radius: 100%;
}
.main_top_view_button{
	display: flex;
	padding: 50px 0 0 0;
	justify-content: center;
}

.main_bottom_view{
	display: flex;
}
.bottom_view_content{
	display: flex;
	flex-direction: column;
	padding: 100px 0;
	max-height: 1575px;
	gap: 123px;
	overflow: hidden;
}
.bottom_view_content > div:nth-last-of-type(2n){
	padding-bottom: 88px;
}
.bottom_view_content_item {
	display: flex;
	height: fit-content;
	justify-content: space-between;
	width: 100%;
	gap: 30px;
}
.bottom_view_content_item:nth-child(2n) img{
	order: 2;
}
.bottom_view_content_item:nth-child(2n) div{
	order: 1;
}
.bottom_view_content_item_text {
	max-width: 522px;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.regular_white_button{
	width: 200px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Candara';
	font-size: 20px;
	line-height: 24px;
	color: #484847;
	border: 1.5px solid #484847;
	position: relative;
	cursor: pointer;
}
footer .wrapper {
	height: fit-content;
}
footer > div {
	display: flex;
}
footer{
	display: flex;
	flex-direction: column;
}

/* .white_button_arrow {
	position: absolute;
	width: 70px;
	background-color: #4B6049;
	height: 1.5px;
	top: 25px;
	left: 165px;
}
.white_button_arrow::before {
	content: '';
	width: 8px;
	height: 1.5px;
	background-color: #4B6049;
	position: absolute;
	transform: rotate(45deg);
	top: -3px;
	right: -2px;
}
.white_button_arrow::after {
	content: '';
	width: 8px;
	height: 1.5px;
	background-color: #4B6049;
	position: absolute;
	transform: rotate(-45deg);
	top: 3px;
	right: -2px;
} */
.white_button_arrow {
	position: absolute;
	left: 165px;
	top: 19px;
	width: 70px;
	background: url('./img/arrow_white_button.svg') no-repeat;
	height: 12px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.6s;
}
.regular_white_button:hover .white_button_arrow {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.6s;
}
.white_button_arrow_down{
	position: absolute;
	left: 94px;
	top: 35px;
	width: 12px;
	background: url('./img/arow_white_button_down.svg') no-repeat;
	height: 30px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.6s;
}

.regular_white_button:hover .white_button_arrow_down {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.6s;
}
.show_more{
	display: flex;
	justify-content: center;
	padding: 0 0 100px 0;
}
.footer_social_white{
	float: right;
	display: flex;
	gap: 15px;
	padding-bottom: 8px;
	height: fit-content;
}
.footer_social_white a {
	width: 50px;
	height: 50px;
}
.footer_social_white a:nth-of-type(1){
	background: url('./img/instagram.svg') no-repeat;
}
.footer_social_white a:nth-of-type(1):hover{
	background: url('./img/instagram_hover.svg') no-repeat;
}
.footer_social_white a:nth-of-type(2){
	background: url('./img/email.svg') no-repeat;
}
.footer_social_white a:nth-of-type(2):hover{
	background: url('./img/email_hover.svg') no-repeat;
}
.footer_social_white a:nth-of-type(3){
	background: url('./img/phone.svg') no-repeat;
}
.footer_social_white a:nth-of-type(3):hover{
	background: url('./img/phone_hover.svg') no-repeat;
}
.footer_social_white a:nth-of-type(4){
	background: url('./img/address.svg') no-repeat;
}
.footer_social_white a:nth-of-type(4):hover {
	background: url('./img/location_hover.svg') no-repeat;
}
.footer_content {
	background-color: #4B6049;
	height: 192px;
	width: 100%;
}
.footer_content .wrapper {
	min-height: 192px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer_item_group{
	font-family: 'Candara';
	font-weight: 200;
	font-size: 20px;
	line-height: 150%;
	color: #FFFBF5;
	display: flex;
	gap: 40px;
	padding: 26px 0 0 0;
}
.footer_item:nth-of-type(2) {
	padding: 0 12px 0 0;
}
.footer_item:last-child{
	display: flex;
	flex-direction: column;
}
.footer_item > div:first-of-type{
	display: flex;
	flex-direction: column;
}
.footer_item > div:nth-of-type(2){
	padding: 14px 0 0 56px;
}
.footer_pay{
	display: flex;
	gap: 25px;
	align-items: center;
}
 .footer_pay a:first-of-type {
	width: 52px;
	height: 32px;
	background: url('./img/pay_1_gray.png') no-repeat;
}
.footer_pay a:hover:first-of-type {
	background: url('./img/pay_1.png') no-repeat;
} 
.footer_pay a:nth-of-type(2) {
	width: 76px;
	height: 25px;
	background: url('./img/pay_2_gray.png') no-repeat;
}
.footer_pay a:nth-of-type(2):hover {
	background: url('./img/pay_2.png') no-repeat;
}
.footer_pay a:nth-of-type(3) {
	width: 83px;
	height: 34px;
	background: url('./img/pay_3_gray.png') no-repeat;
}
.footer_pay a:nth-of-type(3):hover {
	background: url('./img/Pay_3.png') no-repeat;
}
.scrollToTop{
	width: 50px;
	height: 50px;
	position: fixed;
	right: 8vw;
	bottom: 2vh;
	background: rgba(75, 96, 73, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition-property: visibility opacity;
	transition-duration: 0.8s;
	cursor: pointer;
}
.buy_items_section{
	display: flex;
	padding: 67px 0 85px 0;
}

.buy_items_content{
	display: flex;
	flex-direction: column;
	gap: 95px;
}
.buy_items_content > div {
	display: flex;
	gap: 8px;
}
.you_interested_in{
display: flex;
flex-direction: column;
gap: 43px;
}
.item_card{
	width: 260px;
	height: 400px;
	padding: 13px 13px 9px 13px;
	gap: 13px;
	display: flex;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
}

.item_card:hover{
	outline: 0.5px solid #484847;
}
.item_properties{
	font-size: 20px;
	line-height: 150%;
	display: flex;
	flex-direction: column;
}
.item_properties > p {
	align-self: flex-end;
}
.item_properties > a {
	min-height: 60px;
}
.item_buy_buttns{
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	gap: 52px;
}
.reg_btn_item{
	background: #4B6049;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 150%;
	color: #FFFBF5;
	position: relative;
	width: 97px;
	height: 25px;
	margin: 7px 7px 0 0;
	transition-property: margin;
	transition-duration: 0.7s;
}

.reg_btn_item:hover {
	margin: 0 0 7px 7px;
	transition-property: margin;
	transition-duration: 0.7s;
}
.reg_btn_item::after {
	width: 94px;
	height: 24px;
	border: 0.4px solid #484847;
	position: absolute;
	margin: 0 0 7px 7px;
	content:'';
	z-index: -1;
	transition-property: margin;
	transition-duration: 0.7s;
}
.reg_btn_item:hover:after {
	margin: 0;
	transition-property: margin;
	transition-duration: 0.7s;
}
.you_interested_in_carousel{
	display: flex;
	justify-content: space-between;
}
aside h3 {
	color: #484847;
}
.filter_group{
	min-width: 226px;
	width: fit-content;
	padding: 47px 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.filter_group input {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	appearance: none;
	/* For iOS < 15 to remove gradient background */
	background-color: #fff;
	/* Not removed via appearance */
	margin: 0;
}
input[type="checkbox"] {
	appearance: none;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font: inherit;
	color: inherit;
	width: 20px;
	height: 20px;
	border: 1px solid #484847;
	transform: translateY(0.18em);
	position: relative;
	cursor: pointer;
 }
 input[type="checkbox"]::before {
	opacity: 0;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	border-radius: 1px;
	content: '';
	background-color: #484847;
 }
 input[type="checkbox"]:checked:before {
	opacity: 1;
 }
.item_list{
	display: flex;
	flex-wrap: wrap;
	gap: 28px;
	max-height: 1260px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 2px;
}
.item_list_group{
	display: flex;
	flex-direction: column;
	gap: 23px;
}
.filter_group_item{
	display: flex;
	flex-direction: column;
}
.filter_group_item:last-child li {
	display: flex;
	gap: 8px;
	align-items: center;
}
.filter_group_item:last-child li input {
	max-width: 90px;
	height: 45px;
}
.filter_group_item:last-child li span {
	width: 15px;
	height: 1px;
	background-color: #484847;
}
.filter_group_item label{
	font-size: 20px;
	line-height: 24px;
	font-weight: 200;
	white-space: nowrap;
	letter-spacing: -0.5px;
	width: fit-content;
}
.filter_group_item li {
	width: fit-content;
	flex-wrap: nowrap;
}
.filter_group_item > ul {
	display: flex;
	flex-direction: column;
}
.filter_group_item ul li:first-child {
	padding: 17px 0 0 0;
}
.filter_group_item .filter_title{
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
	color: #484847;
	position: relative;
	width: inherit;
}
.filter_group_item:not(:last-child) .filter_title::before {
	content: '';
	top: 60%;
	right: 5px;
	position: absolute;
	width: 11px;
	height: 1.5px;
	background-color: #484847;
}
.filter_group_item:not(:last-child) .filter_title::after{
	content: '';
	top: 60%;
	right: 5px;
	position: absolute;
	width: 11px;
	height: 1.5px;
	background-color: #484847;
	transition: 0.6s ease-out;
	transform: rotate(90deg);
}

.sort_group div{
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 3;
	height: 140px;
	width: 260px;
	background-color: #ffffff;
	font-weight: 200;
	font-size: 20px;
	line-height: 150%;
	text-decoration: underline 0.5px solid;
}
.sort_group div a {
	width: fit-content;
}

.item_list_group > a:last-of-type {
	align-self: center;
	margin-top: 20px;
}
.card_clean .item_buy_buttns,.card_clean .item_heart{
 	display: none;
}
.card_clean:hover .item_buy_buttns{
	display: flex;
}
.card_clean:hover .item_heart{
	display: block;
}
.item_heart{
	position: absolute;
	background: url('./img/item_icons_heart.svg') center no-repeat;
	width: 36px;
	height: 36px;
	right: 13px;
	top: 13px;
}
.item_heart:hover {
	background: url('./img/item_heart_hover.svg') center no-repeat;
	cursor: pointer;
}
.sort_by {
	text-decoration: underline;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-decoration: underline 0.5px solid;
	width: fit-content;
	position: relative;
	cursor: pointer;
}
.sort_by::after {
	content: '';
	background: url('./img/arrow_down.svg') no-repeat center;
	width: 11px;
	height: 6px;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-20%);
	right:-12px;
	transition: all 1s;
}
.dropdown_sort {
	opacity: 0;
	transition: all 0.6s ease-in;
	visibility: collapse;
}
.visible .dropdown_sort {
	visibility: visible;
	opacity: 1;
	transition: all 0.8s ease-out;
}
.visible .sort_by::after {
	transform: rotate(-180deg);
	transition: all 1s;
}
.sort_group{
	position: relative;
}
.more_items{
	max-height: 2520px;
}
.more_items_main{
	max-height: fit-content;
}
.filter_group_item:not(:last-child) .filter_title{
	cursor: pointer;
}
.filter_group_item:not(:last-child) > ul {
	max-height: 0;
   transition: max-height 0.6s ease;
   overflow: hidden;
}
.filter_show:not(:last-child) > ul {
	max-height: 500px;
   transition: max-height 0.6s ease-in;
}
.filter_show:not(:last-child) .filter_title::after {
	transform: rotate(0deg);
}
input[type="number"] {
	border: 1px solid #484847;
   background: #ffffff !important;
   outline: none;
   color: rgba(72, 72, 71,);
   font-size: 24px; 
   font-family: candara; 
	padding: 0 0 6px 4px;
}